

/* Header Starts here  */

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), transparent);
  }

/* NavBar Styling Start Hear  */

.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-toggle {
    color: #fff;
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
  }
  
  .fa-times {
    display: none;
  }
  
  .nav-list {
    list-style: none;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--main-font-color-dark);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  
  nav::before {
    content: "";
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s;
  }
  
  .open .fa-times {
    display: block;
  }
  
  .open .fa-bars {
    display: none;
  }
  
  .active {
    /* position: relative; */
  }
  
  .active:before {
    content: "";
    /* position: absolute; */
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: -3px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .open .nav-list {
    transform: translateX(0);
  }
  
  .open nav::before {
    opacity: 1;
    transform: scale(1);
  }
  
  .nav-item {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  }
  
  .nav-link {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color 0.4s;
  }
  
  .nav-link:hover {
    color: var(--secondary-font-color);
  }

  /* Media queries for navbar  */

@media screen and (min-width: 900px) {
    .menu-toggle {
      display: none;
    }
  
    .nav {
      justify-content: space-between;
    }
  
    .nav-list {
      position: initial;
      width: initial;
      height: initial;
      background-color: transparent;
      padding: 0;
      justify-content: initial;
      flex-direction: row;
      transform: initial;
      transition: initial;
    }
  
    .nav-item {
      margin: 0 2.4rem;
      border: 0;
    }
  
    .nav-item:last-child {
      margin-right: 0;
    }
  
    .nav-link {
      font-size: 1.3rem;
    }

}

/* NavBar Styling Ends Here  */